<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>O que meu aplicativo faz ...</h1>
    </ion-slide>
    <ion-slide>
      <h1>Como utilizar meu aplicativo</h1>
    </ion-slide>
    <ion-slide>
      <ion-button expand="block" routerLink="/main">Entrar</ion-button>
  
    </ion-slide>
  </ion-slides>
 
  </ion-content>